  <tr id="<%= dom_id(entity) %>">
    <td><%= entity.name %></td>
    <td><%= entity.type %></td>
    <td><%= entity.balance || 0 %></td>
    <td><%= entity.created_at.to_fs(:short) %></td>
    <td><%= entity.updated_at.to_fs(:short) %></td>
    <td>
      <%= link_to "Show", entity_path(entity.id), class: 'btn btn-light', data: {turbo_frame: :page} %>
      <%= link_to "Edit", edit_entity_path(entity.id), class: 'btn btn-info', data: {turbo_frame: :form_entity} %>
      <%= link_to "Delete", entity_path(entity), class: "btn btn-danger",
        data: { turbo_method: :delete, turbo_confirm: 'are you sure?' } %>
      <%= link_to "Deposit", [entity, :deposit], class: 'btn btn-link', data: {turbo: false} %>
      <%= link_to "Withdraw", [entity, :withdraw], class: 'btn btn-link', data: {turbo: false} %>
      <%= link_to "Transfer", [entity, :transfer], class: 'btn btn-link', data: {turbo: false} %>
    </td>
  </tr>
