<%= form_with model: @entity do |form| %>
  <% if entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, 'Name' %>
      <%= form.text_field :name, class: 'form-control' %>
  </div>
  <%= form.label :type, 'Type' %>
  <%= form.select :type, options_for_select(%w(User Team Stock), selected: entity.type || 'Stock'),
    {}, {class: 'form-control'} %>
  <div>
    <%= form.submit 'Submit', class: 'btn btn-primary mt-3' %>
    <%= link_to "Cancel", :entities, class: "btn btn-light mt-3" %>
  </div>
<% end %>
