<h1>Editing entity</h1>

<%= turbo_frame_tag :form_entity do %>
<%= render "entities/form", entity: @entity %>
<% end %>

<br>

<div>
  <%= link_to "Show", entity_path(@entity.id), class: 'btn btn-light' %>
  <%= link_to "Back to entities", entities_path, class: "btn btn-link" %>
</div>
