<%= turbo_frame_tag :page do %>
<p style="color: green"><%= notice %></p>

<h1>Entities</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Balance</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="entities">
      <% @entities.each do |entity| %>
        <%= render 'entities/entity', entity: entity %>
      <% end %>
    </tbody>
  </table>
<%= turbo_frame_tag :form_entity do %>
<% end %>

<%= link_to "New entity", new_entity_path, class: "mt-3 btn btn-primary", data: {turbo_frame: :form_entity} %>
<%= link_to "Transactions", transactions_path, class: "btn btn-link mt-3" %>
<% end %>
