<h1>New entity</h1>

<%= turbo_frame_tag :form_entity do %>
<%= render "form", entity: @entity %>
<% end %>

<br>

<div>
  <%= link_to "Back to entities", entities_path, class: "btn btn-link" %>
</div>
