<%= turbo_frame_tag :page do %>

  <dl>
    <dt>Name</dt>
    <dd><%= @entity.name %></dd>
    <dt>Type</dt>
    <dd><%= @entity.type %></dd>
    <dt>Balance</dt>
    <dd><%= @entity.balance || 0 %></dd>
    <dt>Created at</dt>
    <dd><%= @entity.created_at.to_fs(:short) %></dd>
    <dt>Updated at</dt>
    <dd><%= @entity.updated_at.to_fs(:short) %></dd>
  </dl>

<div>
  <%= link_to "Back to entities", root_path, class: "btn btn-link", data: {turbo: false} %>
</div>
<% end %>
