<%= turbo_frame_tag :page do %>
<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Debit</th>
        <th>Credit</th>
        <th>Description</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <%= render 'transactions/transaction', transaction: transaction %>
      <% end %>
    </tbody>
  </table>
<%= link_to "Entities", entities_path, class: "btn btn-link" %>
<% end %>
