<h1>Transaction#withdraw of <%= fetch_entity_name(params[:entity_id]) %></h1>
<%= form_for @transaction, url: compute_entities_path do |f| %>
  <div class="form-group">
    <%= f.label :amount, 'Amount' %>
    <%= f.number_field :amount, class: 'form-control', min: 1, max: @wallet.balance, required: :required %>
  </div>
  <%= f.hidden_field :act, value: action_name %>
  <%= f.hidden_field :target_wallet_id, value: params[:entity_id] %>
  <%= f.submit 'Process', class: 'btn btn-primary mt-3' %>
<% end %>

<div class="mt-3">
  <%= link_to "Show Entity", entity_path(id: params[:entity_id]), class: 'btn btn-light' %>
  <%= link_to "Back to entities", root_path, class: "btn btn-link" %>
</div>
